#top {
    background-color: #ff000050;
    text-align: center;
}

h2 {
        border: 1px solid black;
        margin: 0px 700px 0px 0px;
        background-color: pink;
}

a:link, a:visited {
        background-color: white;
        color: black;
        border: 2px solid #ff000070;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none ;
        display: inline-block;   
}

a:hover, a:active {
    background-color: #ff000050;
    color: black;
}

.img {
    height: auto;
    width: 850px;
}
.img1 {
    height: auto;
    width: auto;
}